.heading {
  animation: animate 0.5s;
  margin-bottom: 30px;
}

@keyframes animate {
  0% {
    opacity: 0;
    // transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .heading {
    padding: 0 12px;
  }
}
