.top-navigation {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--left {
    .menu--btn {
      background-color: var(--sidebar-background);
      padding: 10px;
      border-radius: 8px;
      svg {
        transition: 0.3s;
        stroke: var(--text-color-gray);
      }
      &:hover {
        cursor: pointer;
        svg {
          stroke: var(--green-color);
        }
      }
    }
  }
  &--right {
    display: flex;
    align-items: center;
    .search {
      display: flex;
      align-items: center;
      background-color: var(--sidebar-background);
      border-radius: 12px;
      padding: 0 8px;
      margin: 0 20px;
      input {
        min-width: 350px;
        padding: 13px 8px;
      }
      svg {
        width: 20px;
      }
    }
    .notifications {
      background-color: var(--sidebar-background);
      padding: 10px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
