.top-navigation {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--left {
    display: flex;
    align-items: center;
    .menu--btn,
    .player--toggle {
      margin-right: 15px;
      cursor: pointer;
      background-color: var(--sidebar-background);
      padding: 10px;
      border-radius: 8px;
    }
  }
  &--right {
    display: flex;
    align-items: center;
    .search {
      display: flex;
      align-items: center;
      background-color: var(--sidebar-background);
      border-radius: 12px;
      padding: 0 8px;
      margin: 0 20px;
      input {
        min-width: 350px;
        padding: 13px 8px;
      }
      svg {
        width: 20px;
      }
    }
    .notifications {
      background-color: var(--sidebar-background);
      padding: 10px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 500px) {
  .top-navigation {
    &--right {
      display: none;
    }
  }
}
