.dashboard {
  background: var(--sidebar-background);
  padding: 20px 0;
  transition: 0.5s;
  width: 60px;
  overflow: hidden;
  min-width: 60px;
  &.active {
    min-width: 270px;
    width: 270px;
    .dashboard--logo {
      display: flex;
      align-items: center;
      h1 {
        margin: 0;
        display: block;
      }
      svg {
        margin-left: 20px;
      }
    }
    .dashboard--header {
      justify-content: space-between;
      .menu--btn {
        cursor: pointer;
      }
    }
    .dashboard--nav {
      ul {
        li {
          a {
            padding-left: 20px;
            justify-content: start;
            p {
              visibility: visible;
              opacity: 1;
              width: auto;
            }
          }
        }
      }
    }
  }
  &--header {
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    .menu--btn {
      cursor: pointer;
      svg {
        stroke: #717171;
        width: 20px;
        height: 20px;
      }
    }
  }
  &--logo {
    justify-self: center;
    height: 40px;
    display: none;
  }
  &--nav {
    width: 100%;
    padding: 20px 0;
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      li {
        display: inline-block;
        a {
          display: flex;
          height: 48px;
          align-items: center;
          color: var(--text-color-gray);
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          justify-content: center;
          p {
            // display: none;
            visibility: hidden;
            width: 0;
            transition: 0.3s;
            opacity: 0;
          }
          svg {
            margin-right: 10px;
          }
        }
        a.active {
          color: var(--text-color-white);
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.06),
            rgba(255, 255, 255, 0) 100%
          );
          position: relative;
          & > svg > path {
            fill: var(--green-color);
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            border-radius: 3px 0 0 3px;
            background-color: var(--green-color);
            right: 0;
            height: 100%;
          }
        }
      }
    }
  }
  button {
    position: absolutes;
    right: 500px;
  }
}
